html {
    width: 1440px;
    height: 2700px;
    left: 0px;
    top: 0px;
    scroll-behavior: smooth;
}

.backgroundvideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top:0;
    left:0;
    z-index:-100;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 1440px;
    height: 2700px;
    left: 0px;
    top: 0px;
}

.sidebar {
    position: fixed;
    width: 254px;
    height: 900px;
    left: 0px;
    top: 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
}

.about {
    position: fixed;
    width: 132px;
    height: 40px;
    left: 61px;
    top: 18px;
}

.news {
    position: fixed;
width: 132px;
height: 40px;
left: 61px;
top: 82px;
}

.menu{
    position: fixed;
width: 132px;
height: 40px;
left: 61px;
top: 146px;
}
.store{
    position: fixed;
width: 132px;
height: 40px;
left: 61px;
top: 210px;
}

.mall{
    position: fixed;
width: 132px;
height: 40px;
left: 61px;
top: 274px;
}

.vip{
    position: fixed;
width: 132px;
height: 40px;
left: 61px;
top: 338px;
}
.hiring{
    position: fixed;
width: 132px;
height: 40px;
left: 61px;
top: 402px;
}

.contact{
    position: fixed;
width: 132px;
height: 40px;
left: 61px;
top: 466px;
}

.thaihand{
    position: fixed;
    width: 132px;
    height: 49px;
    left: 61px;
    top: 530px;
}

.goodday{
    position: fixed;
    width: 136px;
    height: 84px;
    left: 61px;
    top: 604px;
}

.LOGO{
    position: absolute;
    width: 187px;
    height: 102px;
    left: 152px;
    top: 150px;
}

.reservation{
    position: absolute;
    width: 175px;
    height: 102px;
    left: 1080px;
    top: 150px;
}

.最新消息{
    position: absolute;
    width: 148px;
    height: 36px;
    left: 780px;
    top: 2020px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    color: #FFFFFF;
}

.target-fix {
    position: relative;
    top: -80px;
    display: block;
    visibility: hidden;
}

.午後的緣起_box{
    position: absolute;
    width: 912px;
    height: 555px;
    left: 388px;
    top: 1102px;
    background: rgba(0, 0, 0, 0.5);
}

main {
	position: relative;
}


.午後的緣起{
    position: absolute;
    width: 186px;
    height: 36px;
    left: 50px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    color: #FFFFFF;
}

.午後的緣起_text{
    position: absolute;
    width: 815px;
    height: 398px;
    left: 436px;
    top: 1231px;  
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
}


.line_午後的緣起{
    position: absolute;
    width: 814.5px;
    height: 0px;
    left: 439.5px;
    top: 1201px;
    border: 1px solid #FFFFFF;
}

.NEWS_box1{
    position: absolute;
    width: 284px;
    height: 340px;
    left: 388px;
    top: 2169px;
    background: rgba(0, 0, 0, 0.5);
}

.with-padding{
    padding: 20px;
    box-sizing: border-box;
    border:10px solid black；
}

.你家住二樓嗎？{
    margin-left: auto;
    margin-right: auto;   
    width: 138px;
    height: 27px;
    left: 461px;
    top: 900px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 540px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.bottom-section{
    position: absolute;
    width: 284px;
    height: 36px;
    left: 388px;
    top: 2509px;
    background: #000000;
    opacity: 0.3;
}

.date1{
    margin-left: 110px;
    width: 61px;
    height: 14px;
    left: 499px;
    top: 2500px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 50px;
    color: #FFFFFF;  
}

.news1{
    position: absolute;
    width: 240px;
    height: 240px;
    left: 410px;
    top: 2196px;
}

.NEWS_box2{
    position: absolute;
    width: 284px;
    height: 340px;
    left: 702px;
    top: 2169px;
    background: #000000;
    background: rgba(0, 0, 0, 0.5);
}

.貳樓{
    margin-left: auto;
    margin-right: auto;
    width: 118px;
    height: 27px;
    left: 793px;
    top: 2459px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 540px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.bottom-section2{
    position: absolute;
    width: 284px;
    height: 36px;
    left: 702px;
    top: 2509px;
    background: #000000;
    opacity: 0.3;
}

.date2{
    margin-left: 110px;
    width: 61px;
    height: 14px;
    left: 499px;
    top: 2500px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 50px;
    color: #FFFFFF;   
}

.news2{
    position: absolute;
    width: 240px;
    height: 240px;
    left: 724px;
    top: 2196px;
}

.NEWS_box3{
    position: absolute;
    width: 284px;
    height: 340px;
    left: 1016px;
    top: 2169px;
    background: rgba(0, 0, 0, 0.5);
}

.Birthday{
    margin-left: auto;
    margin-right: auto;
    width: 159px;
    height: 23px;
    left: 1077px;
    top: 2461px;
    font-family: Times;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 540px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.bottom-section3{
    position: absolute;
    width: 284px;
    height: 36px;
    left: 1016px;
    top: 2509px;
    background: #000000;
    opacity: 0.3;
}

.date3{
    margin-left: 110px;
    width: 62px;
    height: 14px;
    left: 1128px;
    top: 2500px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 50px;
    color: #FFFFFF;
}

.news3{
    position: absolute;
    width: 240px;
    height: 240px;
    left: 1038px;
    top: 2196px;
}

.footer{
    display: flex;
    bottom: 0px;
    left: 0px;
    width: 1440;
    height: 55px;
    background-color: #000000;
}

.footer li{
    display:inline;
    list-style: none;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: normal;
    text-align:left;
    color: #FFFFFF;
    margin-left:220px; 
}

.facebook{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 18px;
    top: 2717.5px;
}

.instagram{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 71px;
    top: 2717.5px;
}